:root{
        --padding: 1rem;
        --color: rgba(153,255,0, 1.0);
        --black: #050407;
        --white: #fefefe;
        --gray: #999999;
        
        --text: var(--white);
        --background: var(--black);
    }
    ::selection{
        background: var(--white);
        color: var(--black);
        text-shadow:none;
    }
    *{
        margin:0;padding:0;
        box-sizing:border-box;
    }

    ul, ol{
        margin-left: 1em;
    }

    html{
        font-size:100%;
    }
    body{
        background-color:var(--background);
        color:var(--text); 

        font-family:-apple-system, "Helvetica", Arial, sans-serif;
        font-size: 1.2rem;
        letter-spacing: 0.1pt;
        line-height:1.5;
    }
    @media screen and (max-width: 800px){
        body{
            font-size:1rem;
        }
    }

    a{
        text-decoration:none;
        color:var(--color);
    }
    a:hover{

    }

    h1,h2,h3,h4,h5,h6{
        font-weight: 500;
    }

    div.content{
        padding:var(--padding);
    }
    div.content p{
        padding-bottom:1rem;
        max-width: 40em;
    }
    div.content p:last-child{
        padding-bottom:0;
    }

    div.container{
        max-width: 1200px;
        margin:0 auto;
    }
    /* DUMB VUEPRESS OVERRIDE */
    svg.icon.outbound {
        display: none;
    }

    div.table-of-contents:before{
        content: 'Table of Contents';
        color:var(--text);
    }
    div.table-of-contents ul{
        list-style-type: decimal;
        list-style-position:outside;
    }
    div.table-of-contents ul li a{
        color:var(--text);
    }

    .mono{
        font-family:Menlo,monospace;
    }

    div.basic-page .content__default{
        color:var(--text);
    }
    div.basic-page .content__default a{
        border-bottom:1px solid var(--gray);
    }
    div.basic-page .content__default a:hover{
        color:var(--color);
        border-bottom-color:var(--color);
    }