<template>
  <div class="content grid">
    <h1>Members</h1>
    <div class="card" v-for="person in allMembers" :key="person.key">
      <div class="profile-image" v-bind:style="{ backgroundImage: 'url(' + person.frontmatter.image + ')' }"></div>
      <div>{{ person.frontmatter.name }}
        <Content :page-key="person.key"/>
        <ul class="profile-links">
          <li v-for="(url, key) in person.frontmatter.links">
            <a v-bind:href="url">{{ key[0].toUpperCase() + key.slice(1) }}</a>
          </li>
        </ul>
        </div>
    </div>
    <h1>Acts</h1>
    <div class="card" v-for="act in allActs" :key="act.key">
      <div class="profile-image" v-bind:style="{ backgroundImage: 'url(' + act.frontmatter.image + ')' }"></div>
      <div>
        {{ act.frontmatter.name }}
        <Content v-bind:page-key="act.key"/>
        <ul class="profile-links">
          <li v-for="(url, key) in act.frontmatter.links">
            <a v-if="url.length > 0" v-bind:href="url">{{ key[0].toUpperCase() + key.slice(1) }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MemberList',
  computed: {
    allMembers () {
      return this.$site.pages.filter(page => page.path.includes('/member/'));
    },
    allActs () {
      return this.$site.pages.filter(page => page.path.includes('/act/'));
    }
  }
}
</script>

<style>

    ul.profile-links{
      list-style:none;
      padding: 0.6rem 0;
      margin:0;
    }
    ul.profile-links li{
      display:inline-block;
      margin-right: 0.6rem;
      margin-bottom: 0.8rem;
    }
    ul.profile-links li a{
      border:1px solid var(--color);
      border-radius: 20px;
      padding: 0.2rem 0.7rem;
    }

    .profile-image{
        width:200px;
        height:200px;
        border-radius: 50%;
        background-size:cover;
        background-position:center;
        margin-bottom: 1rem;

        /* Back up image for broken links */
        background-image:url('/media/image404.png');
    }

    @media screen and (min-width: 820px){
        .grid{
            display:grid;
            grid-template-columns: repeat(3,1fr);
        }
    }
    .grid h1{
        grid-column: span 3;
    }
    .grid p{
        grid-column: span 3;
    }
    .grid h1:nth-child(2n+0){
        margin-top: 4rem;
    }
    .card{
        padding: var(--padding);
    }
    .card div .content__default{
            color:var(--gray);
    }
    @media screen and (max-width: 820px){
        .card{
            display:flex;
            padding-left:0;
        }
        .profile-image{
            width: 100px;
            height:100px;
            flex-shrink:0;
        }
        .card > div:last-child{
            padding-left: calc( var(--padding) * 2);
        }
    }
</style>